<div class='row'>
  <div id="calendar"></div>
</div>

<%= link_to "Add New Schedule", new_event_path %>

<hr>

<h2>Your Recommended Events</h2>
<div class='row poster row-eq-height'>
  <% @rposters.each do |poster| %>
    <div class="col-xs-6 col-lg-4">
      <div class="image"><img src="<%= poster.image_url %>" alt="No Image"></div>
      <%= link_to poster.title, poster.link_url %>
      <p class='small'>日時 :<%=  poster.date %></p>
      <p class='small'>場所 :<%=  poster.place %></p>
    </div>
  <% end %>
</div>

<hr>

<h2>Most Liked Events</h2>
<div class='row poster row-eq-height'>
  <% @likedposters.each do |poster| %>
    <div class="col-xs-6 col-lg-4">
      <div class="image"><img src="<%= poster.image_url %>" alt="No Image"></div>
      <%= link_to poster.title, poster.link_url %>
      <p class='small'>日時 :<%=  poster.date %></p>
      <p class='small'>場所 :<%=  poster.place %></p>
    </div>
  <% end %>
</div>

<hr>
