<% if @event.status == "1" %>
  <div class="image"><img src="<%= @event.poster.image_url %>" alt="No Image"></div>
  <%= link_to @event.poster.title, @event.poster.link_url %>
  <p><%=  @event.poster.detail %></p>
  <p class='small'>日時 :<%=  @event.poster.date %></p>
  <p class='small'>場所 :<%=  @event.poster.place %></p>
  <a href= "<%= @event.poster.link_url %>" target="_blank"><p class='xx-small'>詳しく見る</p></a>
<% end %>

<p id="notice"><%= notice %></p>

<% if @event.invitations.exists?(user_id: current_user.id, status: "accepted", administrator: false) %>
  <td><%= link_to 'NotGoin', destroy_invitation_path(@event), method: :delete %></td>
<% elsif @event.invitations.exists?(user_id: current_user.id, status: "pending", administrator: false) %>
  <td><%= link_to 'Going', accept_invitation_path(@event), method: :patch %></td>
  <td><%= link_to 'Decline', decline_invitation_path(@event), method: :patch %></td>
<% end %>

<p>
  <strong>イベント名:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>日時:</strong>
  <%= @event.start %><%= @event.end %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @event.description %>
</p>

<div>
  <% if @event.invitations.find_by(user_id: current_user.id, administrator: true) %>
    <td><%= link_to 'Edit', edit_event_path(@event), class: "btn  btn-xs btn-primary" %></td>
    <td><%= link_to 'Destroy', @event, method: :delete, class: "btn  btn-xs btn-danger" %></td>
  <% end %>
</div>
<div>
  <% if @event.going_users.find_by(id: current_user.id) %>
    <%= link_to 'Add Participants', new_invitation_path(@event), class: "btn btn-xs btn-success" %>
  <% end %>
</div>

<% if @event.going_users.exists? %>
  <h2>Participants</h2>
  <% @event.going_users.each do |going_user| %>
    <%= link_to going_user.nickname, user_path(going_user) %>
  <% end %>
<% end %>

<% if @event.pending_users.exists? %>
  <h2>Invited memebers</h2>
  <% @event.pending_users.each do |pending_user| %>
    <%= link_to pending_user.nickname, user_path(pending_user) %>
  <% end %>
<% end %>

<h2>Comments</h2>
<% @event.comments.each do |comment| %>
  <%= comment.user.nickname %>
  <%= comment.text %>
  <% if comment.user == current_user %>
    <%= link_to "delete", comment_path(comment), method: :delete %>
  <% end %>
<% end %>

<div>
  <%= form_tag(comments_path, method: :post) do %>
    <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
    <input type="hidden" name="event_id" value= "<%= @event.id %>"  >
    <input type="submit" value="SENT">
  <% end %>
</div>

<p><%= link_to 'Back', events_path %></p>
